<p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
</p>
<p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
</p>
<p>
<label for="cues" class="rem">Cuestionario:</label>
<input type="text" id="cues" name="quiz[CuestionarioId]" value="<%= quiz.CuestionarioId %>" />
</p>
<a href="/admin/quizes"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">
